<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir rasgo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-md-2">
                    <input type="text" id="nuevoRasgo_Key" class="form-control fw-bold"
                        placeholder="Nombre del rasgo" />
                </div>
                <div class="col-md-10">
                    <textarea id="nuevoRasgo_Value" class="form-control" placeholder="Descripción del rasgo"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button id="modal-ok-btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
    </div>
</div>